body{
    background-color: #5c7171;
	margin: 0px;
	padding-top: 10px 0;
	font-size: 18pt;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	background-position: center;
}


.header {
	box-shadow: -7px 9px 6px rgb(85 25 177 / 25%);
	border-radius: 15px;
	margin: 1rem;
	padding: 10px 10px;
	color: blue;
	font-size: 20pt;
	font-weight: bold;
	text-shadow: 5px 2px 4px grey;
	background-color: #dbdbdb;
	text-align: center;
	text-decoration: solid;
	line-height: 48.4px;
	
}

#imagen{
	position: relative;
	top: 0%;
	vertical-align: middle;
}



.unidades{
	box-shadow: -7px 9px 6px rgb(138 230 245 / 25%);
	border-radius: 20px;
	margin: 1rem;
	color: blue;
	font-size: 18pt;
	font-weight: bold;
	text-shadow: 5px 2px 4px grey;
	background-color: cyan;
	text-align: center;
	line-height: 48.4px;

}

.bolillas{
	box-shadow: -7px 9px 6px rgb(138 230 245 / 25%);
	border-radius: 20px;
	margin: 1rem;
	color: blue;
	font-size: 18pt;
	font-weight: bold;
	text-shadow: 5px 2px 4px grey;
	background-color: cyan;
	text-align: center;
	line-height: 48.4px;

}
.button-container{
	border-radius: 15px;
	box-shadow: -7px 9px 6px rgb(211 45 45 / 25%);
	margin: 1rem;
	text-align: center;
	padding: 5px;
	background-color: grey;
}

.button{
	border: 1px solid;
	color: #FFF;
	padding: 10px;
}
#button-action{
	font-size: large;
	border-radius: 15px;
	background-color: #FD4140;
	text-shadow: 5px 2px 4px grey;
}

.button-filter{
	/*vertical-align: middle;*/
	text-shadow: 5px 2px 4px grey;
	border-radius: 15px;
	margin: 1px;
	font-size: medium;
	width: 6rem;
	/*height: 3rem;*/
	background-color: #7ABAF2;
}
#lista-bolillas{
	margin: 15px;
	font-size: 40px;
	color: #00ff22;
	border-radius: 10px;

}
.footer{
	box-shadow: -7px 9px 6px rgb(85 25 177 / 25%);
	margin: 16px;
	padding: 10px, 10px;
	border-radius: 15px;
	/*text-shadow: 5px 2px 4px grey;*/
	background-color: #dbdbdb;
	text-align: center;
	
	
}
.imagen2{
	transition: 300ms;
	position: relative;
	height: 25%;
	width: 25%;
	padding: 10px;
}

.creditos{
	box-shadow: -7px 9px 6px rgb(85 25 177 / 25%);
	margin: 16px;
	padding: 10px, 10px;
	border-radius: 15px;
	text-shadow: 5px 2px 4px grey;
	background-color: #BAF;
	text-align: center;
}
.social-icons {
	
	height: 50px;
	display:inline-flex;
	justify-content: center;
    align-items: center;
	gap: 10px;
	padding: 10px, 10px;
	box-shadow: -7px 9px 6px rgb(85 25 177 / 25%);
	border-radius: 15px;
	text-shadow: 5px 2px 4px grey;
	background-color: #8d8c93;
	/*text-align: center;*/
}
footer {

	background-color: #3dbccb; /* Color de fondo del footer */
	color: #0a0a0a;
	padding: 20px 0; }
	
	.footer-content {
	
	max-width: 800px; /* Ancho máximo del contenido del footer */
	margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
	text-align: center; }

	.social-icon{
	
		/*display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
		margin-top: 30px; /* Centrar las imágenes horizontalmente */
		max-width:fit-content; /* Asegurar que las imágenes no excedan el ancho del contenedor */
		/*border: 1px solid blue; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
		/*border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
	}

	.creditos2{
		
		font-size: 12px;
		
		font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
	}
	.icon {
		width: 60px; /* Ajusta el tamaño según tus necesidades */
		height: 60px; /* Ajusta el tamaño según tus necesidades */
		margin: 0 5px; /* Espacio entre los iconos */
		object-fit:cover; /* Asegura que la imagen se ajuste al tamaño especificado */
	}

.social-icons a{
	transition: 300ms;
}
	.social-icons a:hover{
transform: scale(1.2);
}

.imagen2:hover{
	transform: scale(1.2);
}